.content
  .text-line
    .gtr-hor
      .gtr-ver
        .text-lg.font-semi
          .text-md Customers (chart view)
      .text-line.row
        .tbl
          .tbl-cell.cell-8.gtr-hor.align-top
            .box-tickets.bg-white.full-height
              #chart-container
          .tbl-cell.cell-4.gtr-hor.align-top
            .box-tickets.bg-white.full-height
              #client-info.full-height
  .text-line
    .gtr-hor
      .gtr-ver
        .text-lg.font-semi
          .text-md Customers (table view)
      .text-line
        .box-tickets.bg-white
          #table-container
