each i in _.range(client.bugs)
  button.btn.btn-link.btn-xs.color-red(href data-client-id=client.id data-type='bug' onclick="window.action(event)")
    span.icon-bug
each i in _.range(client.questions)
  button.btn.btn-link.btn-xs.color-orange(href data-client-id=client.id data-type='question' onclick="window.action(event)")
    span.icon-question
each i in _.range(client.requests)
  button.btn.btn-link.btn-xs.color-green(data-client-id=client.id data-type='request' onclick="window.action(event)")
    span.icon-request
