$icon-question: "\e90d";
$icon-angle-down: "\e909";
$icon-angle-up: "\e90a";
$icon-angle-right: "\e90b";
$icon-angle-left: "\e90c";
$icon-image: "\e907";
$icon-trash: "\e906";
$icon-paper-plane: "\e902";
$icon-request: "\e900";
$icon-bug: "\e904";
$icon-l-angle-left: "\e912";
$icon-l-angle-down: "\e913";
$icon-palm: "\e604";
$icon-l-angle-up: "\e910";
$icon-l-angle-right: "\e911";
$icon-search: "\e919";
$icon-menu: "\e908";
$icon-user: "\e905";
$icon-close: "\e903";
$icon-check: "\e901";

