doctype html
html
  head
    link(rel='stylesheet' href='application.css')
    script(src='main.js')
    title.
      Buble Metrics
  body
    .main
      .header.text-center
        .gtr-hor-2x
          .tbl
            .tbl-cell.cell-5
            .tbl-cell.cell-2.text-center.align-middle
              .smile.head-xs.row-b
                a(href='/')
                  span.icon-palm.line-null
            .tbl-cell.cell-5.text-right.align-middle.text-lg
              #tick 600
      .tbl
        .tbl-cell
          .content
            .text-line
              .gtr-hor
                .gtr-ver
                  .text-lg.font-semi
                    .text-md Customers (chart view)
                .text-line.row
                  .tbl
                    .tbl-cell.cell-8.gtr-hor.align-top
                      .box-tickets.bg-white(style='height: 100%;')
                        #chart-container
                    .tbl-cell.cell-4.gtr-hor.align-top
                      .box-tickets.bg-white(style='height: 100%;')
                        #client-info
                          .gtr-hor.gtr-ver
                            Client Info
            .text-line
              .gtr-hor
                .gtr-ver
                  .text-lg.font-semi
                    .text-md Customers (table view)
                .text-line
                  .box-tickets.bg-white
                    #table-container
