doctype html
html
  head
    link(rel='stylesheet' href='application.css')
    script(src='main.js')
    title.
      Buble Metrics
  body
    .main
      .header.text-center
        .gtr-hor-2x
          .tbl
            .tbl-cell.cell-5
            .tbl-cell.cell-2.text-center.align-middle
              .smile.head-xs.row-b
                a(href='/')
                  span.icon-palm.line-null
            .tbl-cell.cell-5.text-right.align-middle.text-lg
              #tick
      .tbl
        .tbl-cell#content
